# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
develop-eggs/
eggs/
.eggs/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Flask stuff:
instance/
.webassets-cache

# Environments
venv/
.env
.idea/

